<!DOCTYPE html>
<html lang="en">
<head>
	<script>
    function login() {
        var username = promt("username");
        var password = promt("password"); 

    }
    </script>
</head>
<body>
    You must login first.
    <p><input type='button' onclick='login()'></p>
</body>
<html>
